body {
    width: 90%;
    margin: 0 auto;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #5390d9;
    color: white;
}

body > * {
    text-align: center;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    padding: 15px;
    border-bottom: 2px solid #083D77;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    font-size: 20px;
}

img {
    border-radius: 50%;
    margin: auto;
}

.content-index li {
    display: inline-block;
    background-color: #083D77;
    padding: 10px;
    border-radius: 10%;
}

.about-me-wrapper,
    .skills-wrapper,
    .blog-wrapper {
        width: 30%;
        margin: 25px auto 40px ;
        padding: 35px;
        border-radius: 5%;
    }

.box-shadow {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}